@font-face {
  font-family: 'BM-JUA';
  src: url('/public/fonts/BMJUA.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'DalseoHealing-Medium';
  src: url('/public/fonts/DalseoHealingMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

* {
  font-family: 'DalseoHealing-Medium', sans-serif;
}
